#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #007bff; /* Keep color consistent with the 'ANALYZE' button */
  z-index: 1000; /* Ensure navbar stays on top of other content */
  padding: 8px 20px; /* Adjusted padding to make navbar thinner */
}

.navbar a {
  color: white;
  padding: 8px 20px; /* Adjust padding for alignment and readability */
  text-decoration: none;
  text-align: center;
  display: inline-block;
}

.navbar-nav {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-item {
  padding: 0.5rem 1rem;
}

.nav-link {
  color: white;
  padding-right: 0.5rem;
}

/* Ensure content doesn't get hidden behind the navbar */
.body-content {
  padding-top: 50px; /* Adjust according to the new navbar's height */
}

@media (max-width: 576px) {
  .navbar-nav {
    flex-direction: column;
  }

  .nav-item {
    text-align: center;
  }
  
  /* Adjusted navbar padding for mobile view to ensure it remains thin */
  .navbar {
    padding: 8px 10px; /* Reduced padding for smaller screens */
  }
}

/* Upload Form Styles */
.uploadForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Ensure the form takes up the full width of its container */
  max-width: 500px; /* Maximum width of the form */
  margin: auto; /* Center the form horizontally */
  padding: 20px; /* Added padding to ensure consistent shape */
  border: 1px solid #ccc; /* Added border to visually maintain form shape */
  border-radius: 5px; /* Added border-radius for aesthetic purposes */
}

.uploadForm input[type="file"] {
  width: 100%; /* Make the file input take the full width of the form */
  max-width: 480px; /* Maximum width to maintain form shape */
  overflow: hidden; /* Hide overflowed content */
  text-overflow: ellipsis; /* Add ellipsis for overflowed content */
  white-space: nowrap; /* Prevent text from wrapping to a new line */
  border: 1px solid #ccc; /* Added border for consistency */
  padding: 10px; /* Added padding for better user experience */
  margin-bottom: 10px; /* Added margin for spacing between elements */
}

.fileNameDisplay {
  max-width: 480px; /* Matching the form input max-width */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: #f8f9fa; /* Added background color for visibility */
  padding: 10px; /* Added padding for alignment */
  border: 1px solid #ccc; /* Added border for definition */
  border-radius: 5px; /* Added border-radius for aesthetic consistency */
  margin-bottom: 20px; /* Added margin for spacing */
}